/* ==========================================================================
   #ICON
   ========================================================================== */



.c-icon__search {
    position: absolute;
    left: 30px;
    top:23px !important;
    bottom: 0;
    margin: auto !important;
}