/* ==========================================================================
   #text-decoration
   ========================================================================== */


.u-decoration-none {
    text-decoration: none !important;
    &:hover {
     text-decoration: none !important;
    }
}

.u-has-border{
    border:1px solid $gray-color !important;
    
}